<!DOCTYPE html>
<html lang="fr">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Menu</title>
      <!-- Favicon -->
      <link rel="icon" href="public/logoTemp.png" type="image/x-icon">
      <!-- SEO Meta Tags -->
      <meta name="description" content="Bienvenue sur notre forum dédié aux animés. Rejoignez-nous pour discuter et partager vos passions autour de vos animés préférés.">
      <meta name="keywords" content="forum, animés, manga, discussion, communauté, anime, otaku">
      <meta name="author" content="GERARD Lucas & Hmida Sami">
      <meta name="robots" content="index, follow">
      <!-- Open Graph Meta Tags (pour Facebook, LinkedIn, etc.) -->
      <meta property="og:title" content="Forum sur les animés">
      <meta property="og:description" content="Bienvenue sur notre forum dédié aux animés. Rejoignez-nous pour discuter et partager vos passions autour de vos animés préférés.">
      <meta property="og:image" content="URL_de_votre_image_de_prévisualisation">
      <!-- ICI IMAGE DE PREVUALISATION -->
      <meta property="og:url" content="URL_de_votre_forum">
      <!-- URL du site -->
      <meta property="og:type" content="website">
      <!-- Twitter Meta Tags -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="Forum sur les animés">
      <meta name="twitter:description" content="Bienvenue sur notre forum dédié aux animés. Rejoignez-nous pour discuter et partager vos passions autour de vos animés préférés.">
      <meta name="twitter:image" content="IMG_prévisualisation">
      <!-- ICI IMAGE DE PREVUALISATION -->
      <meta name="twitter:url" content="URL_de_votre_forum">
      <!-- URL du site -->
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      <!-- CSS Stylesheets -->
      <link rel="stylesheet" href="public/css/styleG.css">
      <link rel="stylesheet" href="public/css/styleIndex.css">
      <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX==" crossorigin="anonymous" />
      <!-- JavaScript -->
      <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
   </head>
   <body>
      <!-- Partie commune à toutes les pages -->
      <header>
         <!-- Navbar -->
         <nav id="navbar">
            <div id="left-part">
               <a href="/"><img id="logo" src="public/logoTemp.png" alt="logo du site"></a>
               <a href="/">
                  <h1>BakaLand</h1>
               </a>
            </div>
            <div id="openBtn">
               <div class="burger-icon">
                  <span></span>
                  <span></span>
                  <span></span>
               </div>
            </div>
            <div id="mySidenav" class="sidenav">
               <a id="closeBtn" href="#" class="close">×</a>
               <ul>
                  <li><a href="/"><img src="public/home.png" alt="Fil d'actualité">Menu</a></li>
                  <li><a href="http://localhost:5500/posts"><img src="public/feed.png" alt="Nouveauté"> Fil d'actualité </a></li>
                  <li><a href="http://localhost:5500/login"><img src="public/account.png" alt="Mon compte"> Mon compte</a></li>
                  <li><a href="http://localhost:5500/about"><img src="public/info.png" alt="A propos"> A propos</a></li>
               </ul>
            </div>
         </nav>
         <!-- Image de fond Navbar -->
         <div id ="container-img">
            <img id="img-navbar" src="public/nav_img.jpg" alt="Image de fond Navbar">
         </div>
      </header>
      <!-- Barre de recherche -->
      <div id="search-section">
         <!-- Contenu de la barre de recherche -->
         <input type="text" id="searchbar" placeholder="Rechercher un sujet, post..." title="Invalid input. Please enter a valid location." maxlength="150" />
         <button type="submit" id="search-button">
         <img src="public/search.png" alt="Search Icon">
         </button>
         <button type="button" id="filters-button">Filtres...</button>
      </div>
      <!-- Bouton "Add" -->
      <button id="add-button"> 
      <img src="public/add.png" alt="Plus Icon">
      </button>
      <!-- Section principale -->
      <main>
         <!-- Contenu spécifique de la page -->
         <section class="container">
            <!-- Contenu du slider avec les images -->
            <div class="slider-wrapper">
               <div class="slider">
                   <div id="slide-1" class="slide">
                       <h2>Bienvenue</h2>
                       <div class="card-slide">
                           <h3>Bienvenue sur notre forum dédié aux mangas et animés ! Ici, vous pouvez discuter, émettre des théories, donner votre avis et partager votre passion avec d'autres fans dans une ambiance conviviale et sympathique.</h3>
                           <button class="login-button">
                               <a href="http://localhost:5500/login" class="button-link">Se connecter / S'inscrire</a>
                           </button>
                       </div>
                   </div>
                   <div id="slide-2" class="slide">
                     <h2>Topics les plus visités</h2>
                     <div class="card-slide">
                         <div class="carousel-container">
                             {{range $index, $element := .Categories}}
                             {{if lt $index 3}}
                             <div class="card-topic">
                                 <img src="data:image/jpeg;base64,{{$element.Base64Image}}" alt="Theme Image">
                                 <div class="card-content">
                                     <h5>{{$element.Title}}</h5>
                                     <p>{{$element.NbPost}} post(s)</p>
                                     <p>45 favoris</p>
                                 </div>
                                 <form action="/like" method="POST" target="invisible-frame" class="like-form">
                                     <input type="hidden" name="category_id" value="{{$element.ID}}"> <!-- Remplacer par l'ID de la catégorie -->
                                     <input type="hidden" name="isLiked" value="false">
                                     <button type="submit" class="like-button" data-liked="false">
                                         <div class="heart"></div>
                                     </button>
                                 </form>
                             </div>
                             {{end}}
                             {{end}}
                         </div>
                     </div>
                 </div>
                   <div id="slide-3" class="slide">
                     <h2>Les dernières news</h2>
                     <div class="card-slide">
                         <h3>Découvrez les dernières annonces et actualités du monde des mangas :</h3>
                         <ul>
                             <li><a href="https://www.manga-news.com/index.php/actus/2024/06/18/Doki-Doki-annonce-deux-nouveaux-mangas" target="_blank">Doki-Doki annonce deux nouveaux mangas</a></li>
                             <li><a href="https://www.millenium.org/news/414894.html" target="_blank">Après 2 ans d'attente, la suite de ce manga cultissime est enfin confirmée</a></li>
                             <li><a href="https://www.crunchyroll.com/fr/news/latest/2024/6/17/kaiju-no-8-the-game-annonce-mobile-pc" target="_blank">Kaiju No. 8 THE GAME annoncé sur mobile et PC</a></li>
                             <li><a href="https://gaming.gentside.com/culture-geek/mangas-animes/one-piece-voici-le-personnage-le-moins-intelligent-du-manga-cest-vraiment-pas-une-fleche_art41324.html" target="_blank">One Piece : voici le personnage le moins intelligent du manga</a></li>
                         </ul>
                     </div>
                 </div>
               </div>
               <div class="slider-nav">
                   <a href="#slide-1"></a>
                   <a href="#slide-2"></a>
                   <a href="#slide-3"></a>
               </div>
           </div>
           
         </section>
      </main>
      <!-- Modals / Pop-ups -->
      <div id="reportModal" class="modal">
         <div class="modal-content">
             <span class="close" onclick="closeModal()">&times;</span>
             <h2>Signaler ce contenu</h2>
             <form action="/submit-report" method="POST">
                 <!-- Raison du signalement -->
                 <div class="input-group">
                     <label for="report-reason">Raison:</label>
                     <select id="report-reason" name="report-reason">
                         <option value="">Sélectionnez une raison</option>
                         <option value="spam">Spam</option>
                         <option value="harassment">Harcèlement</option>
                         <option value="inappropriate">Contenu inapproprié</option>
                         <option value="other">Autre</option>
                     </select>
                 </div>
                 
                 <!-- Lien du post signalé -->
                 <div class="input-group">
                     <label for="post-url">Lien du post:</label>
                     <input type="text" id="post-url" name="post-url" placeholder="URL du post/catégorie/Compte">
                 </div>
                 
                 <!-- Commentaire -->
                 <div id="comment-section" style="display:none;">
                     <label for="report-comment">Commentaire:</label>
                     <textarea id="report-comment" name="report-comment" rows="4" cols="50">Signalé par un utilisateur</textarea>
                 </div>
         
                 <button type="submit">Envoyer</button>
             </form>
         </div>
     </div>
     
     
     
     

      <div id="filters-modal" class="modal">
         <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Filtrer les résultats</h2>
            <form id="filters-form">
               <div class="filters-container">
                  <!-- Première colonne -->
                  <div class="filters-column">
                     <h3>Ordre d'apparition</h3>
                     <div class="input-group">
                        <label for="filter-order">Ordre:</label>
                        <select id="filter-order" name="filter-order">
                           <option value="recent">Le plus récent</option>
                           <option value="oldest">Le moins récent</option>
                           <option value="most-likes">Le plus de likes</option>
                           <option value="least-likes">Le moins de likes</option>
                           <option value="most-interactions">Le plus d'interactions</option>
                           <option value="least-interactions">Le moins d'interactions</option>
                        </select>
                     </div>
                     <h3>Type de recherche</h3>
                     <div class="input-group">
                        <label for="filter-type">Chercher:</label>
                        <select id="filter-type" name="filter-type">
                           <option value="post">Tout</option>
                           <option value="post">Post</option>
                           <option value="sujet">Sujet</option>
                           <option value="utilisateur">Utilisateur</option>
                        </select>
                     </div>
                  </div>
                  <!-- Deuxième colonne -->
                  <div class="filters-column">
                     <h3>Sujet</h3>
                     <div class="input-group">
                        <label for="filter-subject">Sujet:</label>
                        <select id="filter-subject" name="filter-subject">
                           {{range .Categories}}
                              <option value={{.Title}}>{{.Title}}</option>
                           {{end}}
                           <!-- Ajouter d'autres sujets ici -->
                        </select>
                     </div>
                     <h3>Autres critères</h3>
                     <div class="input-group">
                        <label for="filter-other">Autre:</label>
                        <input type="text" id="filter-other" name="filter-other" placeholder="Autres critères...">
                     </div>
                  </div>
               </div>
               <button type="submit">Appliquer les filtres</button>
            </form>
         </div>
      </div>

      
      <div id="add-post-modal" class="modal">
         <div class="modal-content">
            
            <span class="close">&times;</span>
            <div class="form-box">
               <div class="button-box">
                  <div id="btn"></div>
                  <button type="button" class="toggle-btn1" onclick="leftClick()">Post</button>
                  <button type="button" class="toggle-btn2" onclick="rightClick()">Category</button>
               </div>
            </div>
            
            <h2 id="modal-title">Ajouter un post</h2>

            
            <script src="index.js"></script>

           

            <div id="post-form" class="form-content">
               <form action="http://localhost:5500/" method="post" enctype="multipart/form-data">
                  <div class="input-group">
                     <label for="post-title">Titre:</label>
                     <input type="text" id="post-title" name="post-title" required>
                  </div>
                  <div class="input-group">
                     <label for="post-subject">Nom du thème:</label>
                     <select id="post-subject" name="post-subject">
                        {{range .Categories}}
                        <option value={{.Title}}>{{.Title}}</option>
                     {{end}}
                     </select>
                  </div>
                  <div class="input-group">
                     <label for="post-message">Message:</label>
                     <textarea id="post-message" name="post-message" rows="4" required></textarea>
                  </div>
                  <div class="input-group">
                     <label for="post-attachment">Pièce jointe:</label>
                     <input type="file" id="post-attachment" name="post-attachment">
                  </div>
                  <button type="submit">Ajouter</button>
               </form>
            </div>
      
            <div id="category-form" class="form-content" style="display:none;">
               <form action="http://localhost:5500/category" method="post" enctype="multipart/form-data">
                  <div class="input-group">
                     <label for="category-title">Titre de la catégorie:</label>
                     <input type="text" id="category-title" name="category-title" required>
                  </div>
                  <div class="input-group">
                     <label for="category-description">Description:</label>
                     <textarea id="category-description" name="category-description" rows="4" required></textarea>
                  </div>
                  <div class="input-group">
                     <label for="category-attachment">Pièce jointe:</label>
                     <input type="file" id="category-attachment" name="category-attachment">
                  </div>
                  <button type="submit">Ajouter</button>
               </form>
            </div>

         </div>
      </div>
     
      <!-- Footer -->
      <footer class="footer">
         <!-- Contenu du footer -->
         <div class="footer-section">
            <h3>Compte</h3>
            <ul>
               <li><a href="http://localhost:5500/login">S'inscrire / Se connecter</a></li>
               <li><a href="http://localhost:5500/profile">Accéder à mon profil</a></li>
               <li><a href="http://localhost:5500/profile">Modifier le mot de passe</a></li>
            </ul>
         </div>
         <div class="footer-section">
            <h3>Administration</h3>
            <ul>
               <li><a href="#" onclick="openModal()">Signaler un post, topic, compte</a></li>
               <li><a onclick="scrollToContactAndSetSubject('Demande de promotion')">Demande de promotion</a></li>
            </ul>
         </div>
         <div class="footer-section">
            <h3>About</h3>
            <ul>
               <li><a href="#">A propos</a></li>
               <li><a href="#">Crédits</a></li>
            </ul>
         </div>
      </footer>
      <!-- Contact -->
      <div id="contact" class="contact">
         <!-- Contenu de la section de contact -->
         <p class="contact-info">Nous contacter</p>
         <form action="http://localhost:8080/send-email" method="POST">
             <label for="email">Email*</label>
             <input type="email" id="email" name="email" minlength="7" maxlength="75" placeholder="example@mail.com" required>
             
             <label for="subject">Votre objet</label>
             <input type="text" id="subject" name="subject" maxlength="50" placeholder="Objet">
             
             <label for="message">Message*</label>
             <textarea id="message" name="message" minlength="2" maxlength="250" placeholder="Votre message" required></textarea>
             
             <p>*entrer obligatoire</p>
             <button type="submit">Envoyer</button>
         </form>
     </div>
     
      <!-- Scripts -->
      <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
      <script src="public/script.js"></script>
      <script>
         var quill = new Quill('#editor-container', {
             theme: 'snow',
             modules: {
                 toolbar: [
                     [{ 'font': [] }, { 'size': [] }],
                     ['bold', 'italic', 'underline', 'strike'],
                     [{ 'color': [] }, { 'background': [] }],
                     [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                     [{ 'indent': '-1'}, { 'indent': '+1' }],
                     [{ 'align': [] }],
                     ['clean']
                 ]
             }
         });
         document.querySelector('form').addEventListener('submit', function() {
             var editorContent = quill.root.innerHTML;
             document.getElementById('hidden-message').value = editorContent;
         });

         var btn = document.getElementById('btn')

       


         function leftClick() {
            btn.style.left = '0'

            document.getElementById("post-form").style.display = "block";
            document.getElementById("category-form").style.display = "none";
            document.getElementById("modal-title").innerText = "Ajouter un post";
         }

         function rightClick() {
            btn.style.left = '110px'

            document.getElementById("post-form").style.display = "none";
            document.getElementById("category-form").style.display = "block";
            document.getElementById("modal-title").innerText = "Ajouter une catégorie";
            }

         // Optional: To ensure the modal always opens with the "Post" form visible
         document.addEventListener('DOMContentLoaded', (event) => {
            leftClick(); // Default to "Post" form on modal load
         });
      </script>
      <script>
         // Initialisation de Quill
         var quill = new Quill('#editor-container', {
             theme: 'snow',
             modules: {
                 toolbar: [
                     [{ 'font': [] }, { 'size': [] }],
                     ['bold', 'italic', 'underline', 'strike'],
                     [{ 'color': [] }, { 'background': [] }],
                     [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                     [{ 'indent': '-1' }, { 'indent': '+1' }],
                     [{ 'align': [] }],
                     ['clean']
                 ]
             }
         });

         // Envoi du contenu Quill dans un champ caché
         document.querySelector('form').addEventListener('submit', function() {
             var editorContent = quill.root.innerHTML;
             document.getElementById('hidden-message').value = editorContent;
         });

         // Fonction pour faire défiler jusqu'au formulaire de réponse
         function scrollToResponseForm() {
             document.getElementById('response-form').scrollIntoView({ behavior: 'smooth' });
         }

         // Ouvrir le modal
         function openModal() {
             document.getElementById('reportModal').style.display = 'block';
         }

         // Fermer le modal
         function closeModal() {
             document.getElementById('reportModal').style.display = 'none';
         }

         // Fermer le modal en cliquant en dehors de celui-ci
         window.onclick = function(event) {
             if (event.target == document.getElementById('reportModal')) {
                 document.getElementById('reportModal').style.display = 'none';
             }
         }

     </script>

<script>
   function scrollToContactAndSetSubject(subject) {
       document.getElementById('subject').value = subject;
   }
</script>

   </body>
</html>