/* Titre */
.title {
    position: relative;
    display: flex;
    color: var(--lightText-color);
    justify-content: start;
    font-weight: 600;
    font-size: 2.3rem;
    color: var(--lightText-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 1rem 10vw;
}

/* Conteneur des cartes */
.card-container {
    display: flex;
    justify-content: center;
    height: 100%;
}

/* Carte */
.card {
    position: relative;
    display: flex;
    border: 1px solid #ccc;
/*     background-color: var(--PrimarylightBGColor);
 */    
    border-radius: 8px;
    margin: 1rem;
    overflow: hidden;
    width: 80vw;
    height: 30vh;
    background-color: #ffffff;
}

.card-image {
    width: 100px;
    height: auto;
    flex-shrink: 0;
    /* z-index :10000 */

}

.card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-content {
    position: relative;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* z-index :10; */
    flex-grow: 1; 
    overflow: hidden;


}

.card-content h5 {
    margin: 0;
    font-size: 18px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

.card-content p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

.post-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.post-theme {
    font-size: 1rem;
    color: gray;
    margin-bottom: 1rem;
}

.post-body {
    font-size: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-attachments {
    font-size: 0.875rem;
    color: gray;
}

/* Carousel */
.carousel {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.25);
}

.carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    transition: transform 0.5s ease-in-out;
    padding: 10px;
    box-sizing: border-box;
}

/* Carte de sujet */
.card-topic {
    position: relative;
    flex: 0 0 auto;
    width: 17.5vw;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    height: 15rem;
}

.like-button-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.like-form{
    position: relative;
    /* z-index: 10;  */
    width: 40px;
    height: 40px;
    

}
.like-button {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    /* z-index: 10;  */


}

.heart{
    position: relative;
    width: 40px;
    height: 40px;
    background: url(likeButton2.png) no-repeat;
    background-size: 2900%;
    transform: scale(2);
}

.heart.heart-active{
    background-position: right;
    animation : animate .8s steps(28) 1;
}
.submitButton{
    display: none;
    border: none;      /* Supprime la bordure */
    outline: none;     /* Supprime le contour lorsqu'on clique ou focus */
}

.container {
  margin-top: 100px;
  margin-right: 100px;

  --col-like: #2196f3;
  --col-dislike: #ff3232;
  --transition: 350ms;
  background-color: var(--col-gray);
  width: 130px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px;
  user-select: none;
  /*you can easlly change the number by using this variabels*/
  --zero: translateY(calc(50% - 11px));
  --one: translateY(calc(40% - 11px));
  --two: translateY(calc(30% - 11px));
  --three: translateY(calc(20% - 11px));
  --four: translateY(calc(10% - 11px));
  --five: translateY(calc(0% - 11px));
  --six: translateY(calc(-10% - 11px));
  --seven: translateY(calc(-20% - 11px));
  --eight: translateY(calc(-30% - 11px));
  --nine: translateY(calc(-40% - 11px));
  --ten: translateY(calc(-50% - 11px));
}

.container label input {
  display: none;
}
.container input[id^="like-"]:checked + svg {
  animation: evaluation-animation var(--transition) ease-in-out 0s 1 normal both;
  fill: var(--col-like);
}
.container input[id^="dislike-"]:checked + svg {
  animation: evaluation-animation var(--transition) ease-in-out 0s 1 normal both;
  fill: var(--col-dislike);
}
.container .icon {
  cursor: pointer;
  fill: var(--col-white);
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .icon.like {
  margin-left: 9px;
}
.container .icon.dislike {
  margin-right: 9px;
}
.container .countlike {
  flex: 1;
  border-left: 1px solid var(--col-white);
  border-right: 1px solid var(--col-white);
  position: relative;
  height: 24px;
  margin: auto;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5px;
  flex-direction: row;
}


@keyframes evaluation-animation {
  0%, 100% {
      transform: scale(1) rotate(0deg);
  }
  50% {
      transform: scale(1.1) rotate(-10deg);
  }
}


@keyframes animate {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}
 

.card-topic:hover {
    transform: scale(1.05);
}

.card-topic img {
    width: 7vw;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    /* z-index: 10; */
    border-radius: 50%;
    transition: background 0.3s;
}

.prev:hover,
.next:hover {
    background: rgba(0, 0, 0, 0.7);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.all-categories {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 1rem auto;
    width: 75%;
    height: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    padding: 15px;
}
