/*****************************************************/
/*************** PARAMETRES PRINCIPAUX ***************/
/*****************************************************/
:root {
	/* TEXTE STYLE */
	--darkText-color: #0b0b0b;
	/* Couleur du texte foncé */
	--darkTextDescription-color: #202020;
	/* Couleur pour les descriptions en texte foncé */

	--lightText-color: #f4f4f4;
	/* Couleur du texte clair */
	--lightTextDescription-color: rgb(200, 200, 200);
	/* Couleur pour les descriptions en texte clair */

	/* BG STYLE */
	--darkBGColor: rgb(55, 55, 55);
	/* Couleur de fond foncée */
	--PrimarylightBGColor: rgb(250, 250, 250);
	/* Couleur de fond principale claire */
	--PrimarylightBGColorAlpha: rgba(255, 255, 255, 0.75);
	/* Couleur de fond principale claire avec transparence */
	--SecondarylightBGColor: rgb(230, 230, 230);
	/* Couleur de fond secondaire claire */

	--primaryElement-color: rgb(120, 50, 167);
	/* Couleur des éléments principaux */
	--primaryElement-colorAlpha: rgba(120, 50, 167, 0.6);
	/* Couleur des éléments principaux avec transparence */
}

* {
	font-family: "Montserrat", 'Courier New', Courier, monospace;
	/* Police par défaut */
	font-optical-sizing: auto;
	/* Ajustement optique de la taille des caractères */
	font-weight: normal;
	/* Poids de la police par défaut */
	font-style: normal;
	/* Style de police par défaut */
	/* text-shadow: 1px 1px 2px rgba(0, 0, 0,0.25);  ombre du texte (commenté) */
	/* outline: red 1px solid;  contour des éléments (commenté) */
}

body {
	margin: 0;
	/* Suppression des marges par défaut du body */
	padding: 0;
	/* Suppression des padding par défaut du body */
	background-color: var(--PrimarylightBGColor);
	/* Couleur de fond du body */
}

a {
	text-decoration: none;
	/* Suppression de la décoration des liens */
}


/**************************************/
/*************** NAVBAR ***************/
/**************************************/

/* Navbar principale */
#navbar {
	position: relative;
	/* Positionnement relatif pour permettre le positionnement absolu des éléments enfants */
	background-color: rgba(235, 235, 235, 0);
	/* Couleur de fond avec transparence */
	height: 6vh;
	/* Hauteur de la navbar */
	padding: 2rem 5rem;
	/* Padding interne de la navbar */
	display: flex;
	/* Utilisation de flexbox pour aligner les enfants */
	align-items: center;
	/* Alignement vertical des enfants */
	justify-content: space-between;
	/* Espacement égal entre les enfants */
}

/* Partie gauche de la navbar */
#left-part {
	display: flex;
	/* Utilisation de flexbox pour aligner les enfants */
	align-items: center;
	/* Alignement vertical des enfants */
	margin-left: 20px;
	/* Marge à gauche */
}

/* Bouton d'ouverture */
#openBtn {
	margin-right: 20px;
	/* Marge à droite */
}

/* Logo */
#logo {
	width: 8vh;
	/* Largeur du logo */
	margin-right: 20px;
	/* Marge à droite */
	border-radius: 50%;
	/* Bordure arrondie */
}

/* Titre de la navbar */
#navbar h1 {
	font-size: 2rem;
	/* Taille de la police */
	font-weight: 700;
	/* Poids de la police */
	text-transform: capitalize;
	/* Transformation du texte en majuscule pour la première lettre */
	color: var(--darkText-color);
	/* Couleur du texte */
}

/* Image de fond de la navbar */
#img-navbar {
	position: absolute;
	/* Positionnement absolu pour couvrir toute la navbar */
	top: 0;
	/* Alignement en haut */
	right: 0;
	/* Alignement à droite */
	width: 100vw;
	/* Largeur de l'image */
	z-index: -1;
	/* Positionnement en arrière-plan */
}

/* Liens de la barre latérale */
.sidenav a {
	text-decoration: none;
	/* Suppression de la décoration des liens */
	font-size: 1.5rem;
	/* Taille de la police des liens */
	color: #333;
	/* Couleur des liens */
	display: flex;
	/* Utilisation de flexbox pour aligner les enfants */
	align-items: center;
	/* Alignement vertical des enfants */
	padding: 10px 20px;
	/* Padding interne des liens */
	transition: 0.3s;
	/* Transition pour les effets au survol */
}

/* Icônes des liens de la barre latérale */
.sidenav a img {
	margin-right: 1rem;
	/* Marge à droite */
	width: 24px;
	/* Largeur de l'icône */
	height: 24px;
	/* Hauteur de l'icône */
}

/* Effet au survol des liens de la barre latérale */
.sidenav a:hover {
	color: #111;
	/* Couleur des liens au survol */
}

/* Liste des liens de la barre latérale */
.sidenav ul {
	list-style-type: none;
	/* Suppression des puces */
	padding: 0;
	/* Suppression du padding */
	margin: 0;
	/* Suppression des marges */
}

/* Bouton de fermeture de la barre latérale */
.sidenav .close {
	position: absolute;
	/* Positionnement absolu */
	top: 0;
	/* Alignement en haut */
	right: 25px;
	/* Alignement à droite */
	font-size: 36px;
	/* Taille de la police */
}

/* Barre latérale */
#mySidenav {
	display: none;
	/* Masquer par défaut */
	height: 30vh;
	/* Hauteur de la barre latérale */
	width: 16vw;
	/* Largeur de la barre latérale */
	border-radius: .8rem 0 0 .8rem;
	/* Bordure arrondie */
	position: fixed;
	/* Positionnement fixe */
	z-index: 1;
	/* Niveau de superposition */
	top: 0;
	/* Alignement en haut */
	right: 0;
	/* Alignement à droite */
	background-color: rgba(255, 255, 255, 0.8);
	/* Couleur de fond avec transparence */
	padding-top: 60px;
	/* Padding en haut */
	margin: .8rem 0;
	/* Marge verticale */
	transition: transform 5s ease;
	/* Transition pour l'effet de glissement */
}

/* Barre latérale active */
#mySidenav.active {
	display: block;
	/* Afficher quand active */
	transform: translateX(0);
	/* Transformer pour afficher */
}

/* Bouton de fermeture */
#closeBtn {
	font-size: 24px;
	/* Taille de la police */
	color: #333;
	/* Couleur du bouton */
	position: absolute;
	/* Positionnement absolu */
	top: 10px;
	/* Alignement en haut */
	right: 10px;
	/* Alignement à droite */
}

/* Icône du burger (menu) */
.burger-icon span {
	display: block;
	/* Afficher en bloc */
	width: 35px;
	/* Largeur du span */
	height: 5px;
	/* Hauteur du span */
	background-color: black;
	/* Couleur de fond */
	margin: 6px 0;
	/* Marge verticale */
}


/*************************************/
/********* SECTION RECHERCHE *********/
/*************************************/

/* Section de recherche */
#search-section {
	display: flex;
	/* Utilisation de flexbox pour aligner les enfants */
	align-items: center;
	/* Alignement vertical des enfants */
	align-content: center;
	/* Alignement du contenu des enfants */
	justify-content: center;
	/* Centrage horizontal des enfants */
	margin: 2rem;
	/* Marge externe de 2 rem */
}

/* Barre de recherche */
#searchbar {
	width: 35vw;
	/* Largeur de la barre de recherche */
	height: 2.88rem;
	/* Hauteur de la barre de recherche */
	border-radius: 10px 0 0 10px;
	/* Bordure arrondie sur le côté gauche */
	border: none;
	/* Suppression des bordures */
	background-color: var(--PrimarylightBGColorAlpha);
	/* Couleur de fond avec transparence */
	backdrop-filter: blur(5px);
	/* Flou en arrière-plan */
	padding-left: 1rem;
	/* Padding interne à gauche */
	font-size: 1.2rem;
	/* Taille de la police */
	color: var(--darkTextDescription-color);
	/* Couleur du texte */
}

/* Placeholder de la barre de recherche */
#searchbar::placeholder {
	color: var(--placeholder-color);
	/* Couleur du texte du placeholder */
}

/* Focus sur la barre de recherche */
#searchbar:focus {
	outline: none;
	/* Suppression du contour par défaut lors du focus */
}

/* Bouton de recherche */
#search-button {
	display: flex;
	/* Utilisation de flexbox pour aligner les enfants */
	align-items: center;
	/* Alignement vertical des enfants */
	justify-content: center;
	/* Centrage horizontal des enfants */
	width: 5%;
	/* Largeur du bouton */
	height: 3rem;
	/* Hauteur du bouton */
	border: none;
	/* Suppression des bordures */
	background-color: var(--PrimarylightBGColorAlpha);
	/* Couleur de fond avec transparence */
	backdrop-filter: blur(5px);
	/* Flou en arrière-plan */
}

/* Image dans le bouton de recherche */
#search-button img {
	width: 45%;
	/* Largeur de l'image */
}


/* Bouton de filtres */
#filters-button {
	width: 8rem;
	/* Largeur du bouton de filtres */
	height: 3rem;
	/* Hauteur du bouton de filtres */
	border: none;
	/* Suppression des bordures */
	border-radius: 0 10px 10px 0;
	/* Bordure arrondie sur les côtés droit */
	background-color: var(--primaryElement-colorAlpha);
	/* Couleur de fond avec transparence */
	backdrop-filter: blur(10px);
	/* Flou en arrière-plan */
	font-size: 1.2rem;
	/* Taille de la police */
	color: var(--lightTextDescription-color);
	/* Couleur du texte */
}


/**************************************/
/*********** SECTION FILTRE ***********/
/**************************************/


/* Conteneur des filtres */
.filters-container {
	display: flex;
	/* Utilisation de flexbox */
	justify-content: space-between;
	/* Espacement égal entre les colonnes */
}

/* Colonne des filtres */
.filters-column {
	width: 45%;
	/* Largeur de la colonne */
}

/* Titre de la colonne des filtres */
.filters-column h3 {
	margin-top: 0;
	/* Suppression de la marge en haut */
}


/* Contenu spécifique pour le modal de filtres */
#filters-modal .modal-content {
	/* Styles supplémentaires pour le modal de filtres */
	background-color: #fefefe;
	border-radius: 20px;
	margin: 23vh auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 800px;
}


/***********************************/
/*********** BOUTON PLUS ***********/
/***********************************/

/* Bouton d'ajout */
#add-button {
	display: flex;
	/* Utilisation de flexbox pour aligner les enfants */
	align-items: center;
	/* Alignement vertical des enfants */
	justify-content: center;
	/* Centrage horizontal des enfants */
	position: fixed;
	/* Positionnement fixe */
	bottom: 0;
	/* Alignement en bas */
	right: 0;
	/* Alignement à droite */
	width: 5rem;
	/* Largeur du bouton d'ajout */
	height: 5rem;
	/* Hauteur du bouton d'ajout */
	margin: 1.5rem;
	/* Marge externe */
	border: none;
	/* Suppression des bordures */
	border-radius: 50%;
	/* Bordure arrondie en cercle */
	background-color: var(--primaryElement-colorAlpha);
	/* Couleur de fond avec transparence */
	backdrop-filter: blur(5px);
	/* Flou en arrière-plan */
	z-index: 5;
	/* Niveau de superposition pour être au-dessus des autres éléments */
}

/* Image dans le bouton d'ajout */
#add-button img {
	width: 80%;
	/* Largeur de l'image à l'intérieur du bouton */
}


/**************************************/
/*********** SECTION FOOTER ***********/
/**************************************/

/* Section du pied de page */
.footer {
	display: flex;
	/* Utilisation de flexbox pour aligner les sections du pied de page */
	justify-content: space-between;
	/* Espacement égal entre les sections */
	background-color: var(--SecondarylightBGColor);
	/* Couleur de fond du pied de page */
	padding: 0 50px;
	/* Padding horizontal */
	margin-top: 10rem;
	/* Marge en haut */
}

/* Section individuelle du pied de page */
.footer-section {
	flex: 1;
	/* Chaque section prend un espace égal */
	padding: 1rem 0 2rem 3rem;
	/* Padding interne : en haut, en bas et à gauche */
}

/* Dernière section du pied de page */
.footer-section:last-child {
	margin-right: 0;
	/* Suppression de la marge à droite pour la dernière section */
}

/* Titres des sections du pied de page */
.footer-section h3 {
	font-size: 18px;
	/* Taille de la police */
	margin-bottom: 10px;
	/* Marge en bas */
}

/* Listes des éléments dans les sections du pied de page */
.footer-section ul {
	list-style: none;
	/* Suppression des puces des listes */
	padding: 0;
	/* Suppression du padding */
}

/* Éléments des listes dans les sections du pied de page */
.footer-section ul li {
	margin-bottom: 5px;
	/* Marge en bas */
}

/* Liens dans les éléments des listes */
.footer-section ul li a {
	color: #333;
	/* Couleur des liens */
	text-decoration: none;
	/* Suppression de la décoration des liens */
}

/* Effet au survol des liens dans les éléments des listes */
.footer-section ul li a:hover {
	text-decoration: underline;
	/* Soulignement au survol */
}

/* Section de contact */
.contact {
	padding: .5rem 0 5rem 0;
	/* Padding interne : en haut et en bas */
	background-color: var(--SecondarylightBGColor);
	/* Couleur de fond de la section de contact */
}

/* Informations de contact */
.contact-info {
	text-align: center;
	/* Alignement centré du texte */
	margin-top: 2rem;
	/* Marge en haut */
	font-weight: bold;
	/* Texte en gras */
	font-size: 2rem;
	/* Taille de la police */
}

/* Formulaire de contact */
.contact-info+form {
	max-width: 400px;
	/* Largeur maximale du formulaire */
	margin: 0 auto;
	/* Centrage du formulaire */
}

/* Champs du formulaire de contact */
.contact-info+form input,
.contact-info+form textarea {
	display: block;
	/* Affichage en bloc */
	width: calc(100% - 18px);
	/* Largeur des champs */
	margin: .3rem 0 1rem 0;
	/* Marges en haut et en bas */
	padding: 8px;
	/* Padding interne */
	border: 1px solid #ccc;
	/* Bordure des champs */
	border-radius: 4px;
	/* Bordure arrondie */
	box-sizing: border-box;
	/* Inclure le padding et la bordure dans les dimensions */
}

/* Étiquettes des champs du formulaire */
.contact-info+form label {
	font-size: .9rem;
	/* Taille de la police */
	font-weight: 600;
	/* Poids de la police */
}

/* Champ de texte du formulaire */
.contact-info+form textarea {
	min-height: 3rem;
	/* Hauteur minimale */
	max-height: 20rem;
	/* Hauteur maximale */
	resize: vertical;
	/* Redimensionnement vertical seulement */
}

/* Paragraphe d'information du formulaire */
.contact-info+form p {
	margin-bottom: 10px;
	/* Marge en bas */
	font-style: italic;
	/* Texte en italique */
	font-size: .7rem;
	/* Taille de la police */
}

/* Bouton de soumission du formulaire */
.contact-info+form button {
	width: calc(100% - 18px);
	/* Largeur du bouton */
	background-color: #007bff;
	/* Couleur de fond du bouton */
	color: var(--PrimarylightBGColor);
	/* Couleur du texte */
	border: none;
	/* Suppression des bordures */
	cursor: pointer;
	/* Curseur pointeur */
	padding: 8px;
	/* Padding interne */
	border-radius: 4px;
	/* Bordure arrondie */
	box-sizing: border-box;
	/* Inclure le padding et la bordure dans les dimensions */
}

/* Effet au survol du bouton de soumission */
.contact-info+form button:hover {
	background-color: #0056b3;
	/* Changement de couleur au survol */
}

/*****************************/
/*********** MODAL ***********/
/*****************************/

/* Modale de base */
.modal {
	display: none;
	/* Masquage de la modale par défaut */
	position: fixed;
	/* Positionnement fixe */
	z-index: 1;
	/* Niveau de superposition */
	left: 0;
	top: 0;
	width: 100%;
	/* Pleine largeur */
	height: 100%;
	/* Pleine hauteur */
	overflow: auto;
	/* Défilement autorisé */
	background-color: rgba(0, 0, 0, 0.4);
	/* Couleur de fond semi-transparente */
}

/* Contenu de la modale */
.modal-content {
	background-color: #fefefe;
	/* Couleur de fond */
	border-radius: 20px;
	/* Bordure arrondie */
	margin: 2rem auto;
	/* Marge autour du contenu */
	padding: 20px;
	/* Remplissage interne */
	border: 1px solid #888;
	/* Bordure */
	width: 80%;
	/* Largeur */
	max-width: 800px;
	/* Largeur maximale */
}


/* Affichage de la modale */
.modal.show {
	display: block;
	/* Affichage de la modale */
	opacity: 1;
	/* Opacité */
	transform: translateY(0);
	/* Translation verticale */
}

/* Bouton de fermeture de la modale */
.close {
	color: #aaa;
	/* Couleur du texte */
	float: right;
	/* Alignement à droite */
	font-size: 28px;
	/* Taille de la police */
	font-weight: bold;
	/* Gras */
}

/* Effet au survol et au focus du bouton de fermeture */
.close:hover,
.close:focus {
	color: black;
	/* Couleur du texte */
	text-decoration: none;
	/* Suppression de la décoration */
	cursor: pointer;
	/* Curseur pointeur */
}

/* Groupe d'éléments de saisie */
.input-group {
	margin-bottom: 1.5rem;
	/* Marge en bas */
	text-align: left;
	/* Alignement du texte à gauche */
}

/* Étiquette des éléments de saisie */
.input-group label {
	display: block;
	/* Affichage en bloc */
	margin-bottom: 0.5rem;
	/* Marge en bas */
	font-weight: bold;
	/* Gras */
	color: #555;
	/* Couleur du texte */
}

/* Champ de saisie de texte */
.input-group input,
.input-group select,
.input-group textarea {
	width: calc(90% - 1.5rem);
	/* Largeur du champ */
	max-width: 90%;
	/* Largeur maximale */
	padding: 0.75rem;
	/* Remplissage interne */
	border: 1px solid #ddd;
	/* Bordure */
	border-radius: 0.25rem;
	/* Bordure arrondie */
}

/* Bouton dans le groupe d'éléments de saisie */
.input-group button {
	padding: 0.75rem;
	/* Remplissage interne */
	border: none;
	/* Suppression de la bordure */
	border-radius: 0.25rem;
	/* Bordure arrondie */
	background: #ff7e5f;
	/* Couleur de fond */
	color: white;
	/* Couleur du texte */
	font-size: 1rem;
	/* Taille de la police */
	cursor: pointer;
	/* Curseur pointeur */
	transition: background 0.3s ease;
	/* Transition pour l'effet au survol */
}

/* Effet au survol du bouton */
.input-group button:hover {
	background: #feb47b;
	/* Changement de couleur de fond au survol */
}

/* Conteneur de l'éditeur */
#editor-container {
	height: 200px;
	/* Hauteur de l'éditeur */
	background-color: #fff;
	/* Couleur de fond */
	border: 1px solid #ddd;
	/* Bordure */
	border-radius: 0.25rem;
	/* Bordure arrondie */
	padding: 0.75rem;
	/* Remplissage interne */
}

/* Affichage du modal */
.modal.show {
	display: block;
	/* Affichage du modal */
	opacity: 1;
	/* Opacité */
	transform: translateY(0);
	/* Translation verticale */
}

/* Bouton de fermeture du modal */
.close {
	color: #aaa;
	/* Couleur du texte */
	float: right;
	/* Alignement à droite */
	font-size: 28px;
	/* Taille de la police */
	font-weight: bold;
	/* Poids de la police */
}

.close:hover,
.close:focus {
	color: black;
	/* Changement de couleur au survol/focus */
	text-decoration: none;
	/* Suppression de la décoration du texte */
	cursor: pointer;
	/* Curseur pointeur */
}

/* Groupe de champs */
.input-group {
	margin-bottom: 1.5rem;
	/* Marge en bas */
	text-align: left;
	/* Alignement du texte à gauche */
}

/* Étiquette du champ */
.input-group label {
	display: block;
	/* Affichage en bloc */
	margin-bottom: 0.5rem;
	/* Marge en bas */
	font-weight: bold;
	/* Poids de la police */
	color: #555;
	/* Couleur du texte */
}

/* Champ de saisie */
.input-group input,
.input-group select,
.input-group textarea {
	width: calc(90% - 1.5rem);
	/* Largeur du champ */
	max-width: 90%;
	/* Largeur maximale */
	padding: 0.75rem;
	/* Padding interne */
	border: 1px solid #ddd;
	/* Bordure */
	border-radius: 0.25rem;
	/* Bordure arrondie */
}

/* Champ de texte multiligne */
.input-group textarea {
	height: 12rem;
	/* Hauteur */
	overflow-y: auto;
	/* Défilement vertical */
	resize: none;
	/* Empêcher le redimensionnement */
}

/* Bouton */
.input-group button {
	padding: 0.75rem;
	/* Padding */
	border: none;
	/* Suppression de la bordure */
	border-radius: 0.25rem;
	/* Bordure arrondie */
	background: #ff7e5f;
	/* Couleur de fond */
	color: white;
	/* Couleur du texte */
	font-size: 1rem;
	/* Taille de la police */
	cursor: pointer;
	/* Curseur pointeur */
	transition: background 0.3s ease;
	/* Transition sur le changement de couleur */
}

.input-group button:hover {
	background: #feb47b;
	/* Changement de couleur au survol */
}