:root {
    /* Couleurs du texte */
    --darkText-color: #0b0b0b;
    --darkTextDescription-color: #202020;
    --lightText-color: #f4f4f4;
    --lightTextDescription-color: rgb(200, 200, 200);

    /* Couleurs de fond */
    --darkBGColor: rgb(55, 55, 55);
    --PrimarylightBGColor: rgb(250, 250, 250);
    --PrimarylightBGColorAlpha: rgba(255, 255, 255, 0.75);
    --SecondarylightBGColor: rgb(230, 230, 230);

    /* Couleur des éléments principaux */
    --primaryElement-color: rgb(120, 50, 167);
    --secondElement-color: rgb(131, 71, 172);
    --primaryElement-colorAlpha: rgba(120, 50, 167, 0.6);
    --blackAlpha: rgba(0, 0, 0, 0.75);
}

/* Réinitialisation des styles */
* {
    font-family: "Montserrat", 'Courier New', Courier, monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* Conteneur principal */
.container {
    padding: 2rem;
}

/* Conteneur du slider */
.slider-wrapper {
    position: relative;
    max-width: 60rem;
    margin: 0 auto;
}

/* Slider */
.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Styles pour les slides */
.slide {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Fond semi-transparent sur toutes les slides */
.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.slide h2,
.slide .card-slide {
    position: relative;
    z-index: 2;
}

/* Titres des slides */
.slide h2 {
    color: var(--lightText-color);
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 3rem;
    text-align: center;
}

/* Centrer le contenu de .card-slide */
.card-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color: var(--lightText-color);
    border-radius: 0.5rem;
    height: 60%;
    box-sizing: border-box;
}

.card-slide h3 {
    max-width: 80%;
    margin: -1rem 0 1rem 0;
    font-size: 1.5rem;
}

/* Styles pour le bouton de connexion/inscription */
.login-button {
    background-color: var(--primaryElement-color);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-top: 1rem;
}

.login-button:hover {
    background-color: var(--secondElement-color);
}

.button-link {
    text-decoration: none;
    color: var(--lightText-color);
    font-weight: bold;
    font-size: 1rem;
}

/* Navigation du slider */
.slider-nav {
    display: flex;
    column-gap: 2rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 10rem;
    height: .5rem;
    border-radius: 20px;
    background-color: var(--PrimarylightBGColorAlpha);
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

/* Background images for slides */
#slide-1 {
    background-image: url("imgS1.png");
}

#slide-2 {
    background-image: url("imgS2.png");
}

#slide-3 {
    background-image: url("imgS3.png");
}

/* Titre */
.title {
    display: flex;
    color: var(--lightText-color);
    justify-content: start;
    font-weight: 600;
    font-size: 2.3rem;
    color: var(--lightText-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 1rem 10vw;
}

/* Conteneur des cartes */
.card-container {
    display: flex;
    justify-content: center;
    height: 100%;
}

/* Carte */
.card {
    display: flex;
    border: 1px solid #ccc;
    background-color: var(--PrimarylightBGColor);
    border-radius: 8px;
    margin: 1rem;
    overflow: hidden;
    width: 80vw;
    height: 30vh;
}

.card-image {
    width: 100px;
    height: auto;
    flex-shrink: 0;
}

.card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.card-content h5 {
    margin: 0;
    font-size: 18px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

.card-content p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

.post-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.post-theme {
    font-size: 1rem;
    color: gray;
    margin-bottom: 1rem;
}

.post-body {
    font-size: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-attachments {
    font-size: 0.875rem;
    color: gray;
}

/* Carousel */
.carousel {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.25);
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Carte de sujet */
.card-topic {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--PrimarylightBGColorAlpha);
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: .5rem;
    width: 50%;
    height: 15rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.like-button-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.like-button-container img.like-button {
    width: 20px;
    height: 20px;
}

.card-topic:hover {
    transform: scale(1.05);
}

.card-topic img {
    width: 7vw;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    transition: background 0.3s;
}

.prev:hover,
.next:hover {
    background: rgba(0, 0, 0, 0.7);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.all-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 1rem auto;
    width: 75%;
    height: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    padding: 15px;
}

/* Stylisation des éléments de la liste */
.card-slide ul {
    list-style-type: none; /* Retire les puces */
    padding: 0;
}

.card-slide ul li {
    margin-bottom: 10px;
    font-size: 1.2rem;
    background-color: var(--PrimarylightBGColorAlpha);
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s;
}

.card-slide ul li:hover {
    background-color: var(--secondElement-color);
    transform: scale(1.05);
}

.card-slide ul li a {
    text-decoration: none;
    color: var(--darkText-color);
    font-weight: bold;
}

.card-slide ul li a:hover {
    text-decoration: underline;
}
